<<<<<<< HEAD
$primaryColor: #1b1e28;
$backgroundColor: white;
$secondaryColor: #0368ff34;
$primaryTextColor: white;
$primaryTextColorInverse: #c8d6e5;
=======
$primaryColor: #0abde3;
$backgroundColor: white;
$secondaryColor: #31aeca;
$primaryTextColor: white;
$primaryTextColorInverse: #c8d6e5;
>>>>>>> d485e69893845c09c4049f949f6a40dacae63e8f
$hoverColor: grey;